---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import ChamadasAbertasPage from '../components/ChamadasAbertasPage';
---

<Layout title="Chamadas Abertas - Poisson">
  <main>
    <ChamadasAbertasPage client:load />
  </main>
</Layout>
