---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import ChamadasAbertasPage from '../components/ChamadasAbertasPage';
---

<Layout title="Chamadas Abertas | Editora Poisson" description="Chamadas abertas da Editora Poisson. Submeta seu manuscrito e publique livros, coletâneas e capítulos em qualquer área do conhecimento.">
  <main>
    <ChamadasAbertasPage client:load />
  </main>
</Layout>
